body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
}

p{
    text-align: center;
}

.container{
    margin: auto;
}